/* MessagesComponent's private CSS styles */
header {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-weight: lighter;
  margin: 0.25rem;
}

section div {
  background-color: #f4f4f4;
  font-family: 'Courier New', Courier, monospace;
  padding: 0.25rem;
}